*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.container {
  background: pink;
  height: 50vh;
  width: 50vw;
  padding: 0.5em;
  margin: 25vh auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: column wrap;
}

.item {
  background: lightblue;
  margin: 0.5em;
}
